<section>
  <h2 class="title">By Capital</h2>
  <hr class="divider" />

  <div class="search-container">
    <!-- (search)="searchByCapital($event)" -->
    <shared-search-box
      placeholder="Search Capital"
      (onDebounce)="searchByCapital($event)"
    ></shared-search-box>
  </div>

  <div class="table-container">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-table
      *ngIf="!isLoading"
      [countries]="countries"
    ></countries-country-table>
  </div>
</section>
