<section>
  <h2 class="title">By Region</h2>
  <hr class="divider" />

  <!-- (search)="searchByRegion($event)" -->
  <div class="search-container">
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]="{ active: region === selectedRegion }"
    >
      {{ region }}
    </button>
  </div>

  <div class="table-container">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-table
      [countries]="countries"
      *ngIf="!isLoading"
    ></countries-country-table>
  </div>
</section>
