<section>
  <h2 class="title">By Country</h2>
  <hr class="divider" />

  <!-- (search)="searchByCountry($event)" -->
  <div class="search-container">
    <shared-search-box
      placeholder="Search Country"
      [value]="initialInputValue"
      (onDebounce)="searchByCountry($event)"
    ></shared-search-box>
  </div>

  <div class="table-container">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-country-table
      [countries]="countries"
      *ngIf="!isLoading"
    ></countries-country-table>
  </div>
</section>
