<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="course-name">Course:</label>
    <input
      type="text"
      [(ngModel)]="course.name"
      id="course-name"
      name="name"
      required
    />
  </div>
  <div class="form-group">
    <label for="course-grade">Grade:</label>
    <input
      type="number"
      [(ngModel)]="course.grade"
      id="course-grade"
      name="grade"
      required
    />
  </div>
  <button type="submit" class="add-button">Add</button>
  <pre>
    {{ course | json }}
  </pre>
</form>
