<div *ngIf="countries.length === 0; else table" class="no-results">
  There are no countries with the capital you are looking for.
</div>

<ng-template #table>
  <table class="country-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Area</th>
        <th>Timezones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img
            [src]="country.flags.svg"
            alt="Flag of {{ country.name }}"
            class="flag"
          />
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td>{{ country.area | number }}</td>
        <td>
          <ul>
            <li *ngFor="let timezone of country.timezones">
              {{ timezone }}
            </li>
          </ul>
        </td>
        <td>
          <a [routerLink]="['/countries', country.cca3]" class="details-link"
            >Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
